[submodule "automated-proffast-pylot/src/detect_corrupt_ifgs"]
	path = automated-proffast-pylot/src/detect_corrupt_ifgs
	url = git@github.com:tum-esm/detect-corrupt-ifgs
[submodule "automated-proffast-pylot/src/prfpylot/main"]
	path = automated-proffast-pylot/src/prfpylot/main
	url = https://gitlab.eudat.eu/coccon-kit/proffastpylot.git
	branch = master
