.venv
inputs/*
outputs/*
.vscode
*.pyc
config.json
location-data/
reports/*.csv
main.lock
hidden
*.out

logs/**/*.json
*.log
manual-queue.json
.DS_Store
example/example-config.yml
example/outputs/*
!example/outputs/.gitkeep
fortran-validator