# development
.vscode
hidden
*.out

# system files
*.pyc
.DS_Store
__pycache__

# example inputs and outputs
example/*config.yml
example/pylot_*_outputs/*
!example/pylot_*_outputs/.gitkeep

# dynamic project files
.venv
location-data/
inputs/
!inputs/.gitkeep
outputs/
!outputs/.gitkeep
*.log

# runtime files
src/main.lock
config/config.json
config/manual-queue.json