[submodule "src/detect-corrupt-ifgs"]
	path = src/detect-corrupt-ifgs
	url = git@github.com:tum-esm/detect-corrupt-ifgs
[submodule "src/prfpylot"]
	path = src/prfpylot
	url = git@gitlab.eudat.eu:coccon-kit/proffastpylot.git
