.venv
*.pyc
.vscode
.DS_Store
.coverage
cov.xml

*.map
*.mod
*.vmr

!docs/example_profiles/GGG2014/*
!docs/example_profiles/GGG2020/*

config.json
config.json.lock

vertical_profiles/*
!vertical_profiles/.gitkeep

reports/*
!reports/.gitkeep