*__pycache__*
*.BIN
prf
*subl*
./Logfile.txt
*pT*
data/
*.yml
!em27.yml
*.egg-info/
build/
example/*
desktop.ini
GeneralLogfile.log
.vscode/launch.json
prf_venv/
.vscode/settings.json
hdf_test
KA_LongTerm/