@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #00273d;
  --sl-color-accent: #0071a7;
  --sl-color-accent-high: #92d1fe;

  --sl-color-white: #ffffff;
  --sl-color-gray-1: theme("colors.slate.100");
  --sl-color-gray-2: theme("colors.slate.200");
  --sl-color-gray-3: theme("colors.slate.300");
  --sl-color-gray-4: theme("colors.slate.400");
  --sl-color-gray-5: theme("colors.slate.600");
  --sl-color-gray-6: theme("colors.slate.800");
  --sl-color-gray-7: theme("colors.slate.900");
  --sl-color-black: theme("colors.slate.950");

  --sl-font: "Inter", sans-serif;
  --sl-text-h1: 2rem;
  --sl-text-h2: 1.4rem;
  --sl-text-h3: 1.2rem;

  --sl-color-bg-sidebar: theme("colors.slate.900");
  --sl-color-bg-nav: theme("colors.slate.900");
  --sl-color-bg: theme("colors.slate.950");

  .site-title,
  .social-icons a {
    @apply text-white;
  }
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #b0deff;
  --sl-color-accent: #0073aa;
  --sl-color-accent-high: #003653;

  --sl-colsor-white: theme("colors.slate.950");
  --sl-color-gray-1: theme("colors.slate.900");
  --sl-color-gray-2: theme("colors.slate.800");
  --sl-color-gray-3: theme("colors.slate.600");
  --sl-color-gray-4: theme("colors.slate.400");
  --sl-color-gray-5: theme("colors.slate.300");
  --sl-color-gray-6: theme("colors.slate.200");
  --sl-color-gray-7: theme("colors.slate.100");
  --sl-color-black: #ffffff;

  --sl-color-bg-sidebar: theme("colors.slate.100");
  --sl-color-bg-nav: theme("colors.slate.100");
  --sl-color-bg: theme("colors.slate.50");

  .site-title,
  .social-icons a {
    @apply text-slate-950;
  }
}

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
  /* Generated accent color palettes. */
  --color-accent-200: #92d1fe;
  --color-accent-600: #0073aa;
  --color-accent-900: #003653;
  --color-accent-950: #00273d;
  /* Generated gray color palettes. */
  --color-gray-100: #f3f7f9;
  --color-gray-200: #e7eff2;
  --color-gray-300: #bac4c8;
  --color-gray-400: #7b8f96;
  --color-gray-500: #495c62;
  --color-gray-700: #2a3b41;
  --color-gray-800: #182a2f;
  --color-gray-900: #121a1c;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

/*

.pagination-links {
  @apply text-sm;

  a {
    @apply shadow-none;
    background-color: none;
    @apply p-2;
  }
  .link-title {
    @apply text-lg;
  }
}

.site-title {
  @apply text-slate-900 dark:text-slate-100;
}

code {
  @apply !bg-slate-100 dark:!bg-slate-800 !border !border-slate-300 dark:!border-slate-700 !rounded-md;
}

.expressive-code {
  pre,
  code {
    @apply !bg-slate-100 dark:!bg-slate-800;
  }

  pre {
    @apply !rounded-lg;
    border-top-width: 1px !important;
  }

  figcaption {
    @apply !hidden;
  }
}

figure.is-terminal {
  @apply !ring-1 !ring-slate-300 !rounded-md dark:!ring-slate-700;
  pre {
    @apply !border-none;
  }
}
*/

code {
  @apply !bg-slate-100 !px-1.5 !py-1 !rounded-sm dark:!bg-slate-800;
}

.expressive-code {
  figcaption {
    @apply !hidden;
  }

  pre {
    @apply !border !border-slate-300 dark:!border-slate-600 !rounded-md;
  }
}

.expressive-code,
.expressive-code pre,
.expressive-code code {
  /* Hide scrollbar for Webkit browsers */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE/Edge */
  -ms-overflow-style: none;
}

aside[aria-label="Tip"],
aside[aria-label="Note"] {
  @apply bg-green-100 text-green-950 dark:bg-green-950 dark:text-green-100;

  .starlight-aside__title {
    @apply text-green-900 dark:text-green-200;
  }
  a {
    @apply text-green-800 dark:text-green-300;
  }

  @apply border-green-300 dark:border-green-700;

  code {
    @apply !bg-green-200 dark:!bg-green-900;
  }
}

.pagination-links {
  @apply text-sm;

  a {
    @apply shadow-none;
    background-color: none;
    @apply p-2;
  }
  .link-title {
    @apply text-lg;
  }
}

.sidebar-content li a[aria-current="page"] {
  @apply bg-blue-200 text-blue-950 dark:bg-blue-400 dark:text-blue-950;
}

.sidebar-content li {
  @apply py-0.25 border-none ml-0;

  a {
    @apply py-2 px-3 text-sm text-slate-700 dark:text-slate-300;
  }
}

.sidebar-content summary {
  @apply pt-4 pb-3 mt-0 border-t border-slate-300 dark:border-slate-600;
}
