@tailwind base;
@tailwind components;
@tailwind utilities;

.background-paper-pattern {
    opacity: 0.8;
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.nextra-nav-container {
    @apply border-b border-slate-300 dark:border-slate-700;
}

.light #__next {
    .background-paper-pattern {
        background-image: linear-gradient(#e2e8f0 1px, transparent 1px),
            linear-gradient(90deg, #e2e8f0 1px, transparent 1px),
            linear-gradient(#f1f5f9 1px, transparent 1px),
            linear-gradient(90deg, #f1f5f9 1px, transparent 1px);
    }
}

.dark #__next {
    .background-paper-pattern {
        background-image: linear-gradient(#374151 1px, transparent 1px),
            linear-gradient(90deg, #374151 1px, transparent 1px),
            linear-gradient(#1f2937 1px, transparent 1px),
            linear-gradient(90deg, #1f2937 1px, transparent 1px);
    }
}

.dark\:nx-bg-dark,
#__next {
    @apply dark:!bg-slate-900;
}

.nx-shadow-\[0_-12px_16px_\#fff\],
.dark\:nx-shadow-\[0_-12px_16px_\#111\] {
    @apply !shadow-none;
}

.dark\:nx-bg-neutral-900,
:is(html[class~='dark']) .nextra-nav-container-blur {
    @apply dark:!bg-slate-950;
}

.dark\:nx-bg-neutral-800 {
    @apply dark:!bg-slate-900;
}

.nx-text-gray-500 {
    @apply !text-slate-500 dark:!text-slate-400;
}

.nx-text-gray-700 {
    @apply !text-slate-700 dark:!text-slate-300;
}

.nextra-sidebar-container {
    @apply dark:!bg-slate-900;
}

.serif {
    font-family: var(--next-font-google-crimson-pro), serif;
}

.nx-duration-500 {
    transition-duration: 100ms;
}

.nx-transition-colors {
    transition-duration: 50ms;
}

footer div.nx-py-12 {
    @apply py-3 font-semibold text-sm text-gray-800 items-center justify-center;
}
