@tailwind base;
@tailwind components;
@tailwind utilities;

.background-paper-pattern {
    opacity: 0.8;
    background-image: linear-gradient(#e2e8f0 1px, transparent 1px),
        linear-gradient(90deg, #e2e8f0 1px, transparent 1px),
        linear-gradient(#f1f5f9 1px, transparent 1px),
        linear-gradient(90deg, #f1f5f9 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.nextra-nav-container {
    @apply border-b border-slate-300;
}
